.animation{
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    opacity: 1;
    animation:headerAnimation  1s ease-in-out forwards;
}
@keyframes headerAnimation {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.animationtexttyping{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}


