/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
 body{
      /* background: linear-gradient( red , blue ); */
      /*  background: linear-gradient( #002366 20%, #C08081 80%); */
       /* background: radial-gradient(circle, red, yellow); */
       background: linear-gradient(to right  ,#F0EDCC ,#02343F );
 /*  background-color:linear-gradient ( #353839, #FFD700;) */
  /* animation: backgroundAnimation 10s infinite alternate;  */
 }
/*  @keyframes backgroundAnimation {
  25% {
    background: linear-gradient(#353839, #FFD700);
  }
  35% {
    background: linear-gradient(#FFD700, #353839);
  }
  50% {
    background: linear-gradient(#F0EDCC, #02343F);
  }
  75% {
    background: linear-gradient(#02343F, #F0EDCC);

}
  100% {
    background: linear-gradient(#F0EDCC, #02343F);
  }
} */
 